button,
.button {
    transition:
        transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
.button:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
}

button:active,
.button:active {
    transform: scale(0.98);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}
