:root {
  --ligth: #CDBCE2;
  --ligth2: #AF99CC;
  --dark: #1A1A36;
  --dark2: #2E2661;
  --black: #1A1A1A;
  --white: #E8D7FF;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black);
    --text-color: var(--white);
    --button: #AF99CC;
    --backgrond: #CDBCE2;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--black);
    --bg-color: var(--white);
    --button: #2E2661;
    --backgrond: #1A1A36;
  }
}