.commands {
    padding: 6px 0;
}

.commands>.list {
    padding: 6px 0;
}

.commands>.list>.item {
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.commands>.list>.item:hover,
.commands>.list>.item.active {
    background-color: rgba(0, 0, 0, 0.05);
}