@import url("animation.css");
@import url("variables.css");
@import url("commands.css");

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

main {
    height: var(--vh);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: clamp(2rem, 6vw, 3rem);
    }

    h2 {
        font-size: clamp(1.125rem, 4vw, 1.125rem);
    }

    h3 {
        font-size: clamp(1.125rem, 4.5vw, 1.25rem);
    }
}

h1,
h2,
h3,
h4,
p {
    color: var(--text-color);
}

section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 100%;
}

button,
.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
    padding: 12px;
    background-color: var(--button);
    color: var(--text-color);
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

button>i,
.button>i {
    font-size: 1.2rem;
}

button.ghost,
.button.ghost {
    background: none;
    box-shadow: none;
    opacity: 0.2;

}

.notification {
    position: fixed;
    min-width: 250px;
    inset: 20px auto auto 50%;
    transform: translateX(-50%);
    background-color: var(--input);
    padding: 10px 20px;
    border-radius: 12px;
    z-index: 9999;
    opacity: 0;
    transition:
        opacity 0.5s,
        visibility 0.5s;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    border: 1px solid var(--button);
}

.hero {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: space-between;
    min-height: 400px;
    box-sizing: border-box;
}

.hero::before {
    content: "";
    flex: 0 0 auto;
    visibility: hidden;
}

@media (max-width: 768px) {
    .hero {
        height: 100vh;
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
}

.chat {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 12px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.input-message {
    padding: 8px 16px;
    padding-bottom: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--input);
    border-radius: 12px 12px 0 0;
    box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.25);
}

nav {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin-right: auto;
}

nav>.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resize-handle {
    opacity: 0.2;
    cursor: ns-resize;
    margin-bottom: -3px;
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.input-area {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

textarea {
    background-color: var(--input);
    color: var(--text-color);
    font-size: 1.4rem;
    width: 100%;
    border: none;
    box-sizing: border-box;
    min-height: 43px;
    max-height: 40dvh;
    line-height: 1.2em;
    resize: none;
    overflow-y: auto;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    position: absolute;
    bottom: 20px;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    textarea {
        font-size: 1.2rem;
    }
}

code {
    font-family: "Ubuntu Mono", monospace;
    font-style: normal;
    font-size: 0.8rem;
    border-radius: 12px;
}

.inline {
    font-family: "Ubuntu Mono", monospace;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 6px;
}