:root {
    --ligth: #cdbce2;
    --ligth2: #af99cc;
    --dark: #1a1a36;
    --dark2: #2e2661;
    --black: #1a1a1a;
    --white: #e8d7ff;
    --red: #f44336;
    --green: #4caf50;

    --vh: 100dvh;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--black);
        --button: var(--ligth2);
        --backgrond: var(--ligth);
        --input: var(--white);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --button: var(--dark2);
        --backgrond: var(--dark);
        --input: var(--black);
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden !important;
    padding: 0;
    margin: 0;
    font-size: 0;
    opacity: 0;
    pointer-events: none !important;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}